mixin section-history(mods)
  section.section-history
    .container
      .row
        .col-md-6.col-sm-6
          .tf-img-history
            img.img-1-history(src='images/home/history-1.png' alt='')
            img.img-2-history(src='images/home/history-2.png' alt='')
            img.img-3-history(src='images/home/history-3.png' alt='')
        .col-md-6.col-sm-6
          .heading-history.tf-heading.margin-top-162.wow.fadeInUp
            //- p.subtitle-history Fresh Vegetables.
            h1.title-history Основными направлениями нашей деятельности являются продажа: 
            //- p.text-history
            //-   | Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit
            //-   | amet commodo. Cras fermentum risus nisl, a molestie mauris
            //-   | interdum ac. Etiam sed dignissi diam. Cras condimentum maximus a
            //-   | eget dui.
          ul.history-box.wow.fadeInUp
            li.icon-tf
              img(src='images/home/99.png' alt='')
              p.title-icon Масличной и мелкосемянной культуры,
            li.icon-tf.icon-mon
              img(src='images/home/97.png' alt='')
              p.title-icon Зернобобовой и бобовой культуры,
          ul.history-box.wow.fadeInUp
            li.icon-tf
              img(src='images/home/98.png' alt='')
              p.title-icon Круп,
            li.icon-tf.icon-mon
              img(src='images/home/96.png' alt='')
              p.title-icon Зерновых культур.
          .button-history
            a.gain-button.button-color.color2(href='service-dtail.html') Смотреть нашу продукцию