mixin modal-dev(mods)
  .modal-dev(class=allMods)&attributes(attributes)
    .modal-dev__inner 
      button.btn-close(type='button my-modal__close')
        span.icon-cross
        span.visually-hidden
      p.modal-dev__text В настоящее время сайт работает в тестовом режиме
