mixin modal-dev(mods)
  .modal-dev(class=allMods)&attributes(attributes)
    .modal-dev__inner 
      p.modal-dev__text В настоящее время сайт работает в тестовом режиме
      p.modal-dev__text The site is currently in test mode.
