body {
  background-color: $bg;
  font-family: $font;
  overflow-x: hidden;
}

.main {
  padding: 0 !important;
}


.--scroll-hidden {
  overflow: hidden;
}

.container {
  @media #{media('<',m)} {
    padding: 0 20px;
  }
}