body {
  background-color: $bg;
  font-family: $font;
  overflow-x: hidden;
  @include styled-scrollbar;
}

.main {
  padding: 0 !important;
}

textarea {
  border: none;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: #435a52;
}

picture {
  width: 100%;
  height: 100%;
}
