body {
  background-color: $bg;
  font-family: $font;
  overflow-x: hidden;
  @include styled-scrollbar;
}

.main {
  padding: 0 !important;
}

textarea {
  border: none;
}
html {
  scroll-behavior: smooth;
}

a {
  &:hover {
    transition: $transition;
  }
}

h1,
h2,
h3 {
  color: #435a52;
}
