mixin modal()
  .my-modal
    .overlay
    .my-modal__inner
      button.btn-close(type='button my-modal__close')
        span.icon-cross
        span.visually-hidden
      h3.my-modal__title Оставить заявку
      .contact__form.my-modal__form 
        form.contact-form(action='#')
          .contact-form__input
              input(type='text' placeholder='Имя' required)
          .contact-from-input
            input(type='text' placeholder='Фамилия')
          .contact-from-input
            input(type='text' placeholder='Телефонный номер' required data-mask-phone)
          textarea(name='comment' placeholder='Комментарий')
          +btn('Связаться с нами','btn_yellow contact__button').contact-form__button