.my-modal {
  opacity: 0;
  pointer-events: none;
  z-index: 6;

  &__inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 500px;
    background-color: #3e483c;
    border-radius: $border;
    z-index: 6;
    transition: $transition;
  }
  &__body {
    transition: $transition;
  }
  &.--response {
    .my-modal__response {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__response {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    padding: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #3e483c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;

    &-text {
      font-size: 52px;
      text-align: center;
      color: white;
      line-height: 130%;
      @media #{media('<',m)} {
        font-size: 42px;
      }
    }
  }
  &__close {
    position: absolute;
    right: -20px;
    top: 0;
  }

  &__form {
    margin-top: 40px;
  }

  &__title {
    text-align: center;
    color: white;
    font-family: 'Bad Script', cursive;
    font-size: 36px;
  }

  &_active {
    opacity: 1;
    pointer-events: all;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: black;
  opacity: 0.5;
}

.icon-cross {
  display: flex;
  align-items: center;
}

.btn-close {
  position: absolute;
  right: -60px;
  top: 0;
  margin: 0;
  border: 0;
  padding: 0;
  background: #3e483c;
  border-radius: $border;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;

  .icon-cross {
    @include cross(20px, #fff, 2px);
  }
  @media #{media('>',m)} {
    &:hover,
    &:focus {
      transform: rotateZ(90deg);
      background: $yellow;
    }
  }
  @media #{media('<',m)} {
    top: 0;
    right: 0;
    background: transparent;
    width: 50px;
    height: 50px;
  }
}

@media #{media('<',m)} {
  .my-modal {
    &__inner {
      padding: 20px;
      width: 90%;
    }

    &__form {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__title {
      text-align: center;
      color: white;
      font-family: 'Bad Script', cursive;
      font-size: 36px;
    }

    &__btn {
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }

    &_active {
      opacity: 1;
      pointer-events: all;
    }
  }
}
