mixin section-portfolio(mods)
  section.section-portfolio
    .container
      .row
        .col-md-5
          p.subtitle-portfolio  Latest Projects List.
          h3.title-portfolio
            | The engineering project is a human activity that can have broadly varying scope, all the way from the design, manufacturing, distribution.
        .col-md-7
          .button-portfolio.wow.fadeInUp
            a.gain-button.button-color(href='portfolio.html') All Portfolio +
      .row
        .col-md-4.col-sm-4
          .img-box.wow.fadeInUp
            img.img-tf-1(src='images/home/portfolio-1.jpg' alt='')
            .tf-wrap-content-portfolio.tf-style-portfolio.style-2
              .tf-content-portfolio
                ul.tf-cat-portfolio
                  li
                    a(href='portfolio-detail.html') Farm House 
                .tf-title-portfolio.title-32
                  a(href='portfolio-detail.html') Italy - Agriculture, forestry, and fishing | Britannica
                a.tf-readmore-portfolio(href='portfolio-detail.html')   
        .col-md-5.col-sm-5
          .img-box.active.wow.fadeInUp
            img.img-tf-2(src='images/home/portfolio-2.jpg' alt='')
            .tf-wrap-content-portfolio
              .tf-content-portfolio
                ul.tf-cat-portfolio
                  li
                    a(href='portfolio-detail.html') Farm House 
                .tf-title-portfolio.title-32
                  a(href='portfolio-detail.html') Italy - Agriculture, forestry, and fishing | Britannica
                a.tf-readmore-portfolio(href='portfolio-detail.html')   
        .col-md-3.col-sm-3
          .img-box.wow.fadeInUp
            img.img-tf-3(src='images/home/portfolio-3.jpg' alt='')
            .tf-wrap-content-portfolio.flat-style-portfolio.style-2
              .tf-content-portfolio
                ul.tf-cat-portfolio
                  li
                    a(href='portfolio-detail.html') Farm House 
                .tf-title-portfolio.title-32
                  a(href='portfolio-detail.html') Italy - Agriculture,  and fishing | Britannica
                a.tf-readmore-portfolio(href='portfolio-detail.html')   
      .row
        .col-md-4.col-sm-4
          .img-box.wow.fadeInUp
            img.img-tf-4(src='images/home/portfolio-4.jpg' alt='')
            .tf-wrap-content-portfolio.tf-style-portfolio
              .tf-content-portfolio
                ul.tf-cat-portfolio
                  li
                    a(href='portfolio-detail.html') Farm House 
                .tf-title-portfolio.title-32
                  a(href='portfolio-detail.html') Italy - Agriculture, forestry, and fishing | Britannica
                a.tf-readmore-portfolio(href='portfolio-detail.html')   
        .col-md-5.col-sm-5
          .img-box.wow.fadeInUp
            img.img-tf-5(src='images/home/portfolio-5.jpg' alt='')
            .tf-wrap-content-portfolio
              .tf-content-portfolio
                ul.tf-cat-portfolio
                  li
                    a(href='portfolio-detail.html') Farm House 
                .tf-title-portfolio.title-32
                  a(href='portfolio-detail.html') Italy - Agriculture, forestry, and fishing | Britannica
                a.tf-readmore-portfolio(href='portfolio-detail.html')   
        .col-md-3.col-sm-3
          .img-box.wow.fadeInUp
            img.img-tf-6(src='images/home/portfolio-6.jpg' alt='')
            .tf-wrap-content-portfolio.flat-style-portfolio.style-2
              .tf-content-portfolio
                ul.tf-cat-portfolio
                  li
                    a(href='portfolio-detail.html') Farm House 
                .tf-title-portfolio.title-32
                  a(href='portfolio-detail.html') Italy - Agriculture,  and fishing | Britannica
                a.tf-readmore-portfolio(href='portfolio-detail.html')   
