.footer-bottom {
  &__inner {
    padding: 0 40px;
    display: flex;
    // justify-content: space-between;
    gap: 140px;
    align-items: center;
    color: white;
  }

  &__text {
    font-size: 32px;
  }
}
