.slide-tittle {
  // position: relative;
  // font-weight: 600 !important;
  // padding: 30px !important;
  // line-height: 130% !important;
  // color: white;
  // z-index: 3;
  // font-size: 78px !important;
  display: block;
  padding: 30px;
  font-weight: 500;
  font-size: 84px;
}
