mixin banner(text)
  section.banner
    .banner__img.parallax
    .banner__inner
      .banner__logo
        img(src="../../images/logo-yelow.png", alt="logo")
      .banner__text=text
      +btn('Узнать о нас больше','btn_yellow banner__button')