.qualities {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;

    @media #{media('<',t)} {
      grid-template-columns: repeat(2, 1fr);
    }
    @media #{media('<',m)} {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    background-color: #f2f2f2;
    border-radius: $border;
    overflow: hidden;

    @media #{media('<',t)} {
      width: auto;
      &:last-child {
        grid-column: span 2;
      }
    }
    @media #{media('<',t)} {
      &:last-child {
        grid-column: span 1;
      }
    }
  }

  &__title {
    font-size: 28px;
    font-family: $cursive;
    font-weight: 600;
    line-height: 120%;
  }

  &__img {
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__box {
    padding: 30px;
  }

  &__text {
    font-size: 20px;
    margin-top: 20px;
    line-height: 120%;
    color: #2b332b;
  }

  &__decor {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 1;
    width: 100px;

    @media #{media('<',m)} {
      width: 90px;
    }
  }
}
