mixin qualities
  section.qualities.mt-section
    .container
      .qualities__inner

        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/3-min.JPG' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title            Надежность — это неотъемлемая черта «Big Grain».
            p.qualities__text
              | Зарекомендовав себя, мы укрепили доверие клиентов и
              | сельхозпроизводителей. Способность выполнять свои
              | обязательства и сохранять долгосрочные отношения с партнерами
              | делает нашу компанию приоритетной на рынке
              | сельскохозяйственных продуктов.
        

        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/3-min.JPG' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title            Надежность — это неотъемлемая черта «Big Grain».
            p.qualities__text
              | Зарекомендовав себя, мы укрепили доверие клиентов и
              | сельхозпроизводителей. Способность выполнять свои
              | обязательства и сохранять долгосрочные отношения с партнерами
              | делает нашу компанию приоритетной на рынке
              | сельскохозяйственных продуктов.
        

        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/3-min.JPG' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title            Надежность — это неотъемлемая черта «Big Grain».
            p.qualities__text
              | Зарекомендовав себя, мы укрепили доверие клиентов и
              | сельхозпроизводителей. Способность выполнять свои
              | обязательства и сохранять долгосрочные отношения с партнерами
              | делает нашу компанию приоритетной на рынке
              | сельскохозяйственных продуктов.
        

        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/3-min.JPG' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title            Надежность — это неотъемлемая черта «Big Grain».
            p.qualities__text
              | Зарекомендовав себя, мы укрепили доверие клиентов и
              | сельхозпроизводителей. Способность выполнять свои
              | обязательства и сохранять долгосрочные отношения с партнерами
              | делает нашу компанию приоритетной на рынке
              | сельскохозяйственных продуктов.
        
        //- .qualities__card(data-aos='fade-up')
        //-   .qualities__img
        //-     img(src='./../../images/3-min.JPG' alt='')
        //-   .qualities__box
        //-     h3.qualities__title Сервис - еще одна важная составляющая бизнеса.
        //-     p.qualities__text
        //-       | Стремление соблюдать договоренности и сроки, а также предоставлять выгодные цены, свидетельствует о превосходном сервисе. Коммуникация, оперативность и профессионализм взаимодействия с клиентами являются факторами, которые делают нашу компанию успешной.
        //- .qualities__card(data-aos='fade-up')
        //-   .qualities__img
        //-     img(src='./../../images/3-min.JPG' alt='')
        //-   .qualities__box
        //-     h3.qualities__title      Качество продукции является основным аспектом.
        //-     p.qualities__text
        //-       | Мы стремимся предложить только высококлассный товар своим
        //-       | клиентам. Это помогает создать доверие и установить
        //-       | долгосрочные партнерские отношения.
        //- .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/3-min.JPG' alt='')
          .qualities__box
            h3.qualities__title      Качество продукции является основным аспектом.
            p.qualities__text
              | Мы стремимся предложить только высококлассный товар своим
              | клиентам. Это помогает создать доверие и установить
              | долгосрочные партнерские отношения.