mixin qualities
  section.qualities.mt-section
    .container
      .qualities__inner
        .qualities__card(data-aos='fade-up')
          .qualities__img
            +picture('imgs3.jpg')
            +logo-yellow.qualities__decor
          .qualities__box
            h3.qualities__title  Качество 
            p.qualities__text Производственные линии с высокой степенью очистки. Любая форма фасовки.


        .qualities__card(data-aos='fade-up')
          .qualities__img
            +picture('imgs2.jpg')
            +logo-yellow.qualities__decor
          .qualities__box
            h3.qualities__title Сервис
            p.qualities__text Соблюдаем договоренности и сроки, предоставляем выгодные цены, оперативно взаимодействуем с клиентами, доставляем продукцию любым удобным для вас способом. 

        .qualities__card(data-aos='fade-up')
          .qualities__img
            +picture('imgs1.jpg')
            +logo-yellow.qualities__decor
          .qualities__box
            h3.qualities__title Надежность
            p.qualities__text Мы выполняем свои обязательства и сохраняем долгосрочные отношения с партнерами. Благодаря высокому уровню доверия от клиентов наша компания стала приоритетной на рынке сельхозпроизводителей.
mixin qualities-en
  section.qualities.mt-section
    .container
      .qualities__inner
        .qualities__card(data-aos='fade-up')
          .qualities__img
            +picture('imgs3.jpg')
            +logo-yellow.qualities__decor
          .qualities__box
            h3.qualities__title  Quality 
            p.qualities__text High purity production lines. Any form of packaging.
        .qualities__card(data-aos='fade-up')
          .qualities__img
            +picture('imgs2.jpg')
            +logo-yellow.qualities__decor
          .qualities__box
            h3.qualities__title Service
            p.qualities__text We comply with agreements and meet deadlines, provide favourable prices, promptly deal with customers and deliver by any convenient way.

        .qualities__card(data-aos='fade-up')
          .qualities__img
            +picture('imgs1.jpg')
            +logo-yellow.qualities__decor
          .qualities__box
            h3.qualities__title Reliability
            p.qualities__text We fulfill our obligations and maintain long-term partnership relations. Due to the high level of trust from our customers, our company has become a priority on the agricultural market.