mixin qualities
  section.qualities.mt-section
    .container
      .qualities__inner

        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/ca.jpg' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title  Качество 
            p.qualities__text Предлагаем только высококлассный товар своим клиентам и сотрудничаем только с надежными аграрными предприятиями. Это помогает создать доверие и установить долгосрочные партнерские отношения.


        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/ser.jpg' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title Сервис
            p.qualities__text Соблюдаем договоренности и сроки, предоставляем выгодные цены, оператино взаимодействуем с клиентами. Это свидетельствует о высоком уровне предоставления услуг.

        .qualities__card(data-aos='fade-up')
          .qualities__img
            img(src='./../../images/nad.jpg' alt='').qualities__img-img
            img.qualities__decor(src="../../images/logo-yelow.png", alt="logo")
          .qualities__box
            h3.qualities__title Надежность
            p.qualities__text Мы выполняем свои обязательства и сохраняем долгосрочные отношения с партнерами. Благодаря высокому уровню доверия от клиентов наша компания стала приоритетной на рынке сельхозпроизводителей.