.breadcrumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  &__link {
    font-size: 22px;
    text-transform: uppercase;
    font-family: $manrope;
    @media #{media('<',m)} {
      font-size: 18px;
    }
  }
  span {
    font-family: $manrope;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  &__homie {
    color: white;
    &:hover {
      color: $yellow;
    }
  }
  &__target {
    color: $yellow;
  }
}
