.breadcrumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  &__link {
    font-size: 16px;
    @media #{media('<',m)} {
      font-size: 16px;
    }
  }
  span {
    font-family: $manrope;
    font-size: 14px;
    font-weight: 600;
    color: white;
  }
  &__homie {
    color: white;
    @media #{media('>',m)} {
      &:hover {
        color: $yellow;
      }
    }
  }
  &__target {
    color: $yellow;
  }
}
