mixin breadcrumb(text)
  .breadcrumb 
    a.breadcrumb__link.breadcrumb__homie(href="./index.html") Главная
    span /
    .breadcrumb__link.breadcrumb__target=text 
mixin breadcrumb-en(text)
  .breadcrumb 
    a.breadcrumb__link.breadcrumb__homie(href="./index.html") Home
    span /
    .breadcrumb__link.breadcrumb__target=text 