extends ../../layout/layout

block variables
  -
    const pageName = 'gallery'
    const pageTitle = 'Галерея'
    const footerMt=true

block content
  main
    +preview('Галерея').preview-page_gallery
    +gallery-block