mixin section-our-news(mods)
  section.section-our-news
    .container
      .row
        .heading-our-news.center
          h1.wow.fadeInUp Our Letest News
          img.img-news-home(src='images/home/03.png' alt='')
        .col-md-6.col-sm-6
          .our-news-box.style-2.wow.fadeInUp
            .img-news-box
              img(src='images/home/news-1.jpg' alt='')
              .overlay-news
            .list-news
              p.wrap-title-news Farm House
              a(href='blog-detail.html')
                h3  Organic Farming Ecotourism Of Agriculture Systems.
              p.subtext-blog
                | Nullam pharetra erat dui, non pharetra nisi vestibulum a. Suspend nec tincidunt urna, ut sollicitudin justo.
                | Proin aliquam in neque sed aliquet. In condimentum accumsan.
              span.list-icon-news
                a(href='#')
                  i.fa.fa-heart-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-user-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-calendar(aria-hidden='true')
              a.icon-right-box(href='blog-detail.html')
                i.fa.fa-angle-right(aria-hidden='true')
        .col-md-6.col-sm-6
          .our-news-box.style-2.wow.fadeInUp
            .img-news-box
              img(src='images/home/news-2.jpg' alt='')
              .overlay-news
            .list-news
              p.wrap-title-news Farm House
              a(href='blog-detail.html')
                h3  Organic Farming Ecotourism Of Agriculture Systems.
              p.subtext-blog
                | Nullam pharetra erat dui, non pharetra nisi vestibulum a. Suspend nec tincidunt urna, ut sollicitudin justo.
                | Proin aliquam in neque sed aliquet. In condimentum accumsan.
              span.list-icon-news
                a(href='#')
                  i.fa.fa-heart-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-user-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-calendar(aria-hidden='true')
              a.icon-right-box(href='blog-detail.html')
                i.fa.fa-angle-right(aria-hidden='true')
      .button-blog-tf.center.wow.fadeInUp
        a.gain-button.button-color.color2(href='blog.html') All Blog +
