mixin section-brand(mods)
  section.section-brand
    .container
      .row
        .col-md-12
          .themesflat-slider(data-margin='30' data-nav='true' data-dots='false' data-item='6' data-item2='4' data-item3='2')
            .brand1-carousel.owl-carousel.owl-theme.wow.fadeInUp
              .brand
                a(href='#')
                  img.list-img50(src='images/home/48.png' alt='')
              .brand
                a(href='#')
                  img.list-img52(src='images/home/48.png' alt='')
              .brand
                a(href='#')
                  img.list-img52(src='images/home/48.png' alt='')
              .brand
                a(href='#')
                  img.list-img50(src='images/home/48.png' alt='')
              .brand
                a(href='#')
                  img.list-img50(src='images/home/48.png' alt='')
              .brand
                a(href='#')
                  img.list-img50(src='images/home/48.png' alt='')
