mixin section-banner(text)
  section.section-banner.parallax1
    .overlay-banner
    .container
      .row
        .col-md-12.col-sm-12
          .tf-banner.center.wow.fadeInUp
            img(src='images/home/15.png' alt='image')
            .title-banner=text
              
            .button-banner
              a.gain-button(href='team.html') Discover More