mixin section-banner(mods)
  section.section-banner.parallax1
    .overlay-banner
    .container
      .row
        .col-md-12.col-sm-12
          .tf-banner.center.wow.fadeInUp
            img(src='images/home/15.png' alt='image')
            .title-banner
              | A person who is specializes in this field
              | is called as “Agriculturists”.
            .button-banner
              a.gain-button(href='team.html') Discover More
