@import './scss/direction';
@import './scss/base';
@import './scss/buttons';
@import './scss/swiper';

body {
  font-family: 'Bad Script', cursive;
}

.test {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 300 !important;
  .btn_yellow {
    background-color: #d0ab67;
    color: rgba(0, 0, 0, 0.486);
  }
  &__service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
  }
  h4 {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 200;
  }

  &__font {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 42px;
    color: $yellow;
    &_color {
      color: #d0ab67;
    }
    &_font {
      font-family: 'Rubik', sans-serif !important;
      font-weight: 200;
    }
    .bg-green {
      background-color: #2c332b;
      padding: 20px;
    }
    .row {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__btn {
    margin-top: 100px;

    &_color {
      background-color: #d0ab67;
    }
  }

  &__q {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .test {
      .qualities__title {
        font-family: 'Rubik', sans-serif !important;
        font-weight: 500;
      }
    }
  }
}

.img-video {
  height: 500px;
}

.video-play {
  &:hover {
    transition: all 0.6 ease;
    transform: translate(-50%, -55%);
  }
}

.section-about {
  padding-bottom: 100px;
}

.button-banner {
  margin-top: 55px;
}

.heading-history {
  margin: 0;
}

.our-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;

  &__last {
    grid-column: span 2;
  }
}

.m-section {
  margin-top: 100px;

  @media (max-width: 767px) {
    margin-top: 40px;
  }
}

@keyframes leftToRight {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.relative {
  position: relative;
}
