@import './scss/direction';
@import './scss/base';
@import './scss/buttons';
@import './scss/swiper';

body {
  font-family: $cursive;
}

.img-video {
  height: 500px;
}

.video-play {
  &:hover {
    transition: all 0.6 ease;
    transform: translate(-50%, -55%);
  }
}

.section-about {
  padding-bottom: 100px;
}

.button-banner {
  margin-top: 55px;
}

.heading-history {
  margin: 0;
}

.our-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;

  &__last {
    grid-column: span 2;
  }
}

.m-section {
  margin-top: 100px;

  @media (max-width: 767px) {
    margin-top: 40px;
  }
}

@keyframes leftToRight {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.relative {
  position: relative;
}
