mixin preview(text)
  .preview-page__preview.background-element
      //- img(src="../../images/slide-2.jpg", alt="")
      .preview-page__titlebox
        h1.preview-page__title=text
        +breadcrumb(text)