.preview-page {
  &__preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100%;

    @media #{media('<',m)} {
      background-size: 300%;
      height: 500px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #5a6259;
      opacity: 0.5;
    }
  }

  &__titlebox {
    z-index: 1;
    position: relative;
  }

  &__links {
    overflow: hidden;
  }

  &__title {
    font-size: 120px;
    color: white;
    text-align: center;
    font-family: $cursive;

    @media #{media('<',m)} {
      font-size: 64px;
    }
  }

  @media #{media('<',m)} {
    height: 500px;
  }
}

.preview-page_contact {
  background-image: url('/istockphoto-1432404972-1024x1024.jpg');
}

.preview-page_catalog {
  background-image: url('/catalog.jpg');
}

.preview-page_gallery {
  background-image: url('/galery.jpg');
}

.preview-page_about {
  background-image: url('/about.jpg');
}

.preview-page_delivery {
  background-image: url('/delivery.jpg');
}