mixin section-testimonials(mods)
  section.section-testimonials
    .container
      .row
        .col-md-6
          .heading-testimonials.wow.fadeInUp
            p.subtitle-counter.subtitle-counter  What Clients Say? 
            h3
              | The engineering project is a human activity that can have
              | broadly varying scope, all the way from the design, manufacturing, distribution.
        .col-md-6
          .button-testimonials.wow.fadeInUp
            a.gain-button(href='testimonial.html') All View More +
