mixin direction(mods)
  section.direction.mt-section
    .container
      .direction__inner
        .direction__left(data-aos='fade-up')
          .direction__img
            +picture('DSC09373.jpg').direction__img_1
        .direction__right(data-aos='fade-up')
          .direction__row
            h2.direction__title Основными направлениями нашей деятельности является продажа:
            ul.direction__list
              li(data-aos='fade-right') - Бобовой и зернобытовой культуры
              li(data-aos='fade-right') - Масличной культуры
              li(data-aos='fade-right') - Муки чечевичной (продовольственной и кормовой)
              li(data-aos='fade-right') - Шрота подсолнечного
              li(data-aos='fade-right') - Подсолнечного масла
          +btn('Смотреть нашу продукцию', 'btn_green direction__button','catalog.html')
