mixin direction(mods)
  section.direction.mt-section(data-aos='')
    .container
      .direction__inner
        .direction__left
          .direction__img
            img.direction__img_1(src='./../../images/seed/about.JPG' alt='')
        .direction__right
          .direction__decor
            img(src='./../../images/background/history.png' alt='decor')
          .direction__row
            h2.direction__title
              | Основными направлениями нашей деятельности являются продажа:
            ul.direction__list
              li(data-aos='fade-right') - Масличной и мелкосемянной культуры

              li(data-aos='fade-right') - Зернобытовой и бобовой культуры
              
              li(data-aos='fade-right') - Круп
              li(data-aos='fade-right') - Зернобытовой и бобовой культуры
          +btn('Смотреть нашу продукцию', 'btn_green direction__button')
