mixin contact(mods)
  section.contact
    .contact__inner 
      .contact__map
        .contact__map-body
          .contact__map-overlay
            img(src="../../images/tap.svg", alt="").contact__map-tap
          script(type='text/javascript'  charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A298b118c05514fa7cf3d448d37f9574217fd1486cc8927396840209148ac2cee&width=100%25&height=720&lang=ru_RU&scroll=true')
      .container 
        .contact__block 
          .contact__form 
            form.contact-form(action='#')
              .contact-form__input
                  input(type='text' placeholder='Имя' required)
              .contact-from-input
                input(type='text' placeholder='Фамилия')
              .contact-from-input
                input(type='text' placeholder='Телефонный номер' required data-mask-phone)
              textarea(name='comment' placeholder='Комментарий')
              +btn('Связаться с нами','btn_yellow contact__button').contact-form__button
          .contact__bottom
            h3.contact__subtitle Юридическая информация:
            .contact__row
              .contact__text-info(data-aos='fade-left')
                span ИНН
                p 88005553535
              .contact__text-info(data-aos='fade-left')
                span ИНН
                p 88005553535
              .contact__text-info(data-aos='fade-left') 
                span ЮР имя
                | 88005553535
              .contact__text-info(data-aos='fade-left') 
                span Сайт РФ
                p 88005553535
              .contact__text-info(data-aos='fade-left') 
                span Адрес:
                |   394030, г. Воронеж, Бакунский переулок, д. 11, офис 411
              .contact__text-info(data-aos='fade-left') 
                span Телефон:
                p   8-920-227-77-57
              .contact__text-info(data-aos='fade-left') 
                span Электронная почта:
                p Biggrain.buh@mail.ru
        