extends ../../layout-en/layout

block variables
  -
    const pageName = 'contact-en'
    const pageTitle = 'Contact'
    const footerMt = true
block content
  main
   +response-en
   +preview-en('Contact').preview-page_contact 
   +contact-en