mixin tf-testimonials(mods)
  section.tf-testimonials
    .container
      .row
        .col-md-12.col-sm-12
          .themesflat-slider(data-margin='30' data-nav='false' data-dots='false' data-item='2' data-item2='1' data-item3='1')
            .tf-testi.center
              .testimonials1-carousel.owl-carousel.owl-theme
                .testi-box.wow.fadeInUp
                  img(src='images/home/25.png' alt='')
                  h3
                    | Praesent sit amet rutrum orci. Fusce mattis
                    | facilisis ante sit amet commodo. Cras fermentum risus mol nisl,
                    | a molestie mauris interdum ac Etiam sed dignissim diam. Cras nec
                    | molestie est ut torto.
                  ul.design
                    li.name-design Kelis Abraham
                    li.work-design UX/UI Designer
                .testi-box.wow.fadeInUp
                  img(src='images/home/25.png' alt='')
                  h3
                    | Praesent sit amet rutrum orci. Fusce mattis
                    | facilisis ante sit amet commodo. Cras fermentum risus mol nisl,
                    | a molestie mauris interdum ac Etiam sed dignissim diam. Cras nec
                    | molestie est ut torto.
                  ul.design
                    li.name-design Kelis Abraham
                    li.work-design UX/UI Designer
