mixin section-counter(mods)
  section.section-counter
    .container
      .row
        .col-md-6
          .heading-counter.wow.fadeInUp
            p.subtitle-counter  Service We Award.
            h3.title-counter
              | A person with the right or duty of occasionally inspecting and reporting on a college or other academic institution.
        .col-md-3.col-sm-6
          .tf-wrap.wow.fadeInUp
            span.counter
              span.number-counter.counter-style72(data-from='0' data-to='562' data-speed='2000' data-inviewport='yes') 562
            span.counter-style72  + 
            .sub-text-counter
              span.color-black ACTIVE CLIENTS 
              span.using Per Day Using Website.
        .col-md-3.col-sm-6
          .tf-wrap.wow.fadeInUp
            span.counter
              span.number-counter.counter-style72(data-from='0' data-to='5235' data-speed='2000' data-inviewport='yes') 5235
            span.counter-style72  + 
            .sub-text-counter
              span.color-black PROJECTS COMPLETED  
              span.using Per Day Using Website.
