.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 44px;
  position: relative;

  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  transition: $transition;
  border-radius: 3px;

  @media #{media('<',m)} {
    line-height: 130%;
    padding: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 3px;

    opacity: 0.2;
  }

  &_yellow {
    background-color: #e6d54f;
    color: #435a52;

    &::before {
      border: 0.1px solid #3e483c;
    }
    @media #{media('>',m)} {
      &:hover {
        color: white;
        background-color: $green-light;
      }
    }
  }

  &_green {
    background-color: #3e483c;
    color: white;

    &::before {
      border: 0.1px solid white;
    }
    @media #{media('>',m)} {
      &:hover {
        color: #3e483c;
        background-color: $yellow;

        &::before {
          border: 0.1px solid #3e483c;
        }
      }
    }
  }
}
