mixin swiper-bottom
  section.section-swiper.mt-section
    .section-swiper__inner
      .swiper(data-swiper="bottom")
        .swiper-wrapper
          - for(let a = 1;a < 18; a++)
            .swiper-slide 
              +picture(`swb${a}.jpg`)
