extends ../../layout/layout

block variables
  -
    const pageName = 'catalog'
    const pageTitle = 'Каталог'

block content
  main
    .preview-page__preview.background-element
      .preview-page__titlebox
        +breadcrumb("Каталог")
        h1.preview-page__title Каталог
    +catalog