extends ../../layout/layout

block variables
  -
    const pageName = 'contact'
    const pageTitle = 'Контакты'
    const footerMt = true
block content
  main
   +response
   +preview('Контакты').preview-page_contact 
   +contact