.textarea {
  padding: 19px 20px;
  height: 120px;
  width: 100%;

  border: 1px solid #e3e3e3;
  background-color: white;
  transition: $transition;
  color: black;
  resize: none;

  &::placeholder {
    // opacity: 1;
    // color: black;
  }

  &:hover {
    background: white;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
  }

  &_placeholder {
    &::placeholder {
      opacity: 1;
    }
  }
}
