extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    +preloader
    +modal
    +slider-top
    +about
    +banner('Установление долгосрочных партнерских отношений с сельхозпроизводителями в России и странах СНГ является важной составляющей работы, что свидетельствует о нашей надежности и профессионализме.')
    +direction
    +service
    +banner('Качество, сервис и надежность — это основные факторы, которым «Big Grain» придает особое значение!')
    +qualities
    section.section-swiper.mt-section
      .section-swiper__inner
        .swiper
          .swiper-wrapper
            .swiper-slide
<<<<<<< HEAD
              img(src='./../../images/seed/1-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/2-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/3-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/4-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/5-min.JPG' alt='')

=======
              img(src="../../images/cropped-images/1-min.JPG", alt="")
            .swiper-slide
              img(src="../../images/cropped-images/2-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/3-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/4-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/5-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/6-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/7-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/8-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/9-min.JPG" alt='')
            .swiper-slide
              img(src="../../images/cropped-images/10-min.JPG" alt='')
>>>>>>> dee821c467e00466e3e8eada0b763a4150cc7d8d

    .button-go-top
      a.go-top(href='#' title='')
        i.fa.fa-chevron-up
