extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    +swiper-top

    +about
    +banner('Установление долгосрочных партнерских отношений с сельхозпроизводителями в России и странах СНГ является важной составляющей работы, что свидетельствует о нашей надежности и профессионализме.')
    +direction
    +service
    +banner('Качество, сервис и надежность — это основные факторы, которым «Big Grain» придает особое значение!')
    +qualities
    +swiper-bottom