extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    +modal
    section.header__bottom
      .rev_slider_wrapper.header__bottom
        #rev-slider1.rev_slider
          ul
            li(data-transition='random')
              img(src='../../images/seed/slide-2.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Выгодные договорные цены и качественная продукция.
            li(data-transition='random')
              img(src='../../images/seed/slide-3.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Четкое исполнение договоренностей.
            li(data-transition='random')
              img(src='../../images/seed/slide-4.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle.slider__slide-title
                  | Контроль на всех этапах.
            li(data-transition='random')
              img(src='../../images/seed/slide-5.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Порядок с документами.
            li(data-transition='random')
              img(src='../../images/seed/slide-6.jpg' alt='' data-bgposition='center center' data-no-retina='')
              .bg-slider-1
              .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                span.slide-tittle
                  | Sunrise on the Farm by Jean Hutchison.
    section.section-about(data-aos='')
      .container
        .section-about__inner
          h2.section-about__title
            | Компания "Big Grain" — это надежный партнер на рынке экспорта сельскохозяйственной продукции.
          .section-about__video
            video#video(src='/video-1.mp4')
            button.section-about__button
              svg.bi.bi-play(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                path(d='M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z')
              // и
    +banner('Установление долгосрочных партнерских отношений с сельхозпроизводителями в России и странах СНГ является важной составляющей работы, что свидетельствует о нашей надежности и профессионализме.')
    +direction
    +service
    +banner('Качество, сервис и надежность — это основные факторы, которым «Big Grain» придает особое значение!')
    +qualities
    section.section-swiper.mt-section
      .section-swiper__inner
        .swiper
          .swiper-wrapper
            .swiper-slide
              img(src='./../../images/seed/1-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/2-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/3-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/4-min.JPG' alt='')
            .swiper-slide
              img(src='./../../images/seed/5-min.JPG' alt='')


    .button-go-top
      a.go-top(href='#' title='')
        i.fa.fa-chevron-up
