extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    +section-about
    +section-counter
    +section-service
    +section-portfolio
    +section-banner
    //- +section-team
    +section-history
    //- +section-testimonials
    +tf-testimonials
    //- +section-brand
    //- +section-our-news
    +section-instagram