extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    //- +preloader
    +section-about
    +section-history
    +section-banner("Установление долгосрочных партнерских отношений с сельхозпроизводителями в России и странах СНГ является важной составляющей работы, что свидетельствует о нашей надежности и профессионализме.")
    +our-news
    +section-banner("Качество, сервис и надежность — это основные факторы, которым «Big Grain» придает особое значение! ")
    +section-service
    //- section.section-counter
    //-   .container
    //-     .row
    //-       .col-md-6
    //-         .heading-counter.wow.fadeInUp
    //-           p.subtitle-counter Service We Award.
    //-           h3.title-counter
    //-             | A person with the right or duty of occasionally inspecting and
    //-             | reporting on a college or other academic institution.
    //-       .col-md-3.col-sm-6
    //-         .tf-wrap.wow.fadeInUp
    //-           span.counter
    //-             span.number-counter.counter-style72(data-from='0' data-to='562' data-speed='2000' data-inviewport='yes') 562
    //-           span.counter-style72  + 
    //-           .sub-text-counter
    //-             span.color-black ACTIVE CLIENTS 
    //-             span.using Per Day Using Website.
    //-       .col-md-3.col-sm-6
    //-         .tf-wrap.wow.fadeInUp
    //-           span.counter
    //-             span.number-counter.counter-style72(data-from='0' data-to='5235' data-speed='2000' data-inviewport='yes') 5235
    //-           span.counter-style72  + 
    //-           .sub-text-counter
    //-             span.color-black PROJECTS COMPLETED 
    //-             span.using Per Day Using Website.
 
    //- section.section-portfolio
    //-   .container.flex-col
    //-     .row
    //-       .col-md-5
    //-         p.subtitle-portfolio Latest Projects List.
    //-         h3.title-portfolio
    //-           | The engineering project is a human activity that can have broadly
    //-           | varying scope, all the way from the design, manufacturing,
    //-           | distribution.
    //-       .col-md-7
    //-         .button-portfolio.wow.fadeInUp
    //-           a.gain-button.button-color(href='portfolio.html') All Portfolio +
    //-     .row
    //-       .col-md-4.col-sm-4
    //-         .img-box.wow.fadeInUp
    //-           img.img-tf-1(src='images/home/portfolio-1.jpg' alt='')
    //-           .tf-wrap-content-portfolio.tf-style-portfolio.style-2
    //-             .tf-content-portfolio
    //-               ul.tf-cat-portfolio
    //-                 li
    //-                   a(href='portfolio-detail.html') Farm House 
    //-               .tf-title-portfolio.title-32
    //-                 a(href='portfolio-detail.html')
    //-                   | Italy - Agriculture, forestry, and fishing |
    //-                   | Britannica
    //-               a.tf-readmore-portfolio(href='portfolio-detail.html')
    //-       .col-md-5.col-sm-5
    //-         .img-box.active.wow.fadeInUp
    //-           img.img-tf-2(src='images/home/portfolio-2.jpg' alt='')
    //-           .tf-wrap-content-portfolio
    //-             .tf-content-portfolio
    //-               ul.tf-cat-portfolio
    //-                 li
    //-                   a(href='portfolio-detail.html') Farm House 
    //-               .tf-title-portfolio.title-32
    //-                 a(href='portfolio-detail.html')
    //-                   | Italy - Agriculture, forestry, and fishing |
    //-                   | Britannica
    //-               a.tf-readmore-portfolio(href='portfolio-detail.html')
    //-       .col-md-3.col-sm-3
    //-         .img-box.wow.fadeInUp
    //-           img.img-tf-3(src='images/home/portfolio-3.jpg' alt='')
    //-           .tf-wrap-content-portfolio.flat-style-portfolio.style-2
    //-             .tf-content-portfolio
    //-               ul.tf-cat-portfolio
    //-                 li
    //-                   a(href='portfolio-detail.html') Farm House 
    //-               .tf-title-portfolio.title-32
    //-                 a(href='portfolio-detail.html') Italy - Agriculture, and fishing | Britannica
    //-               a.tf-readmore-portfolio(href='portfolio-detail.html')
    //-     .row
    //-       .col-md-4.col-sm-4
    //-         .img-box.wow.fadeInUp
    //-           img.img-tf-4(src='images/home/portfolio-4.jpg' alt='')
    //-           .tf-wrap-content-portfolio.tf-style-portfolio
    //-             .tf-content-portfolio
    //-               ul.tf-cat-portfolio
    //-                 li
    //-                   a(href='portfolio-detail.html') Farm House 
    //-               .tf-title-portfolio.title-32
    //-                 a(href='portfolio-detail.html')
    //-                   | Italy - Agriculture, forestry, and fishing |
    //-                   | Britannica
    //-               a.tf-readmore-portfolio(href='portfolio-detail.html')
    //-       .col-md-5.col-sm-5
    //-         .img-box.wow.fadeInUp
    //-           img.img-tf-5(src='images/home/portfolio-5.jpg' alt='')
    //-           .tf-wrap-content-portfolio
    //-             .tf-content-portfolio
    //-               ul.tf-cat-portfolio
    //-                 li
    //-                   a(href='portfolio-detail.html') Farm House 
    //-               .tf-title-portfolio.title-32
    //-                 a(href='portfolio-detail.html')
    //-                   | Italy - Agriculture, forestry, and fishing |
    //-                   | Britannica
    //-               a.tf-readmore-portfolio(href='portfolio-detail.html')
    //-       .col-md-3.col-sm-3
    //-         .img-box.wow.fadeInUp
    //-           img.img-tf-6(src='images/home/portfolio-6.jpg' alt='')
    //-           .tf-wrap-content-portfolio.flat-style-portfolio.style-2
    //-             .tf-content-portfolio
    //-               ul.tf-cat-portfolio
    //-                 li
    //-                   a(href='portfolio-detail.html') Farm House 
    //-               .tf-title-portfolio.title-32
    //-                 a(href='portfolio-detail.html') Italy - Agriculture, and fishing | Britannica
    //-               a.tf-readmore-portfolio(href='portfolio-detail.html')
    //- 
    //- section.section-team
    //-   .container.flex-col
    //-     .heading-team.center
    //-       h1.title-team-home.wow.fadeInUp Our Special Member
    //-       img(src='images/home/16.png' alt='')
    //-     .themesflat-slider(data-margin='30' data-nav='false' data-dots='false' data-item='4' data-item2='2' data-item3='1')
    //-       .team1-carousel.owl-carousel.owl-theme
    //-         .team-box.wow.fadeInUp
    //-           .hover-team
    //-             img.img-team-box(src='images/shortcode/team-12.jpg' alt='')
    //-           .list-team-box
    //-             a(href='team.html')
    //-               h3.title-team-box Immamul Papan
    //-             span.icon-team
    //-               a(href='#')
    //-                 i.fa.fa-dribbble(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-instagram(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-behance(aria-hidden='true')
    //-         .team-box.wow.fadeInUp
    //-           .hover-team
    //-             img.img-team-box(src='images/home/team-2.jpg' alt='')
    //-           .list-team-box
    //-             a(href='team.html')
    //-               h3.title-team-box Immamul Papan
    //-             span.icon-team
    //-               a(href='#')
    //-                 i.fa.fa-dribbble(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-instagram(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-behance(aria-hidden='true')
    //-         .team-box.wow.fadeInUp
    //-           .hover-team
    //-             img.img-team-box(src='images/home/team-3.jpg' alt='')
    //-           .list-team-box
    //-             a(href='team.html')
    //-               h3.title-team-box Immamul Papan
    //-             span.icon-team
    //-               a(href='#')
    //-                 i.fa.fa-dribbble(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-instagram(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-behance(aria-hidden='true')
    //-         .team-box.wow.fadeInUp
    //-           .hover-team
    //-             img.img-team-box(src='images/home/team-4.jpg' alt='')
    //-           .list-team-box
    //-             a(href='team.html')
    //-               h3.title-team-box Immamul Papan
    //-             span.icon-team
    //-               a(href='#')
    //-                 i.fa.fa-dribbble(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-instagram(aria-hidden='true')
    //-               a(href='#')
    //-                 i.fa.fa-behance(aria-hidden='true')
    //-
    //- section.section-testimonials
    //-   .container
    //-     .row
    //-       .col-md-6
    //-         .heading-testimonials.wow.fadeInUp
    //-           p.subtitle-counter.subtitle-counter What Clients Say?
    //-           h3
    //-             | The engineering project is a human activity that can have
    //-             | broadly varying scope, all the way from the design,
    //-             | manufacturing, distribution.
    //-       .col-md-6
    //-         .button-testimonials.wow.fadeInUp
    //-           a.gain-button(href='testimonial.html') All View More +
    //- +tf-testimonials
    //- 
    //- section.section-instagram
      .container-fluid
        .row
          .themesflat-slider(data-margin='2' data-nav='true' data-dots='false' data-item='8' data-item2='5' data-item3='3')
            .instagram1-carousel.owl-carousel.owl-theme
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-1.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-2.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-3.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-4.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-1.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-5.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-6.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
              .tf-instagram
                .box-instagram
                  img(src='images/home/instagram-7.jpg' alt='')
                  .overlay-instagram
                    a.text-instagram(href='#') @Instagram
  +button-to-up