extends ../../layout/layout

block variables
  -
    const pageTitle = 'Главная страница'

block content
  main
    +swiper-top
    +about
    +banner('Установление долгосрочных партнерских отношений является важной составляющей деятельности, что свидетельствует о нашей стабильности и профессионализме.').banner_banner2
    +direction
    +service
    +banner('Качество, сервис и надежность — это основные принципы работы нашей компании')
    +qualities
    +swiper-bottom