footer.footer
  .container
    .footer__inner
      .footer__top
        .footer__top-left
          p.footer__subtitle Contact
        .footer__top-right
          p.footer__text If you need a website, have offer for a job or just have a question - please, drop me at it
      .footer__bottom
        .footer__bottom-left
          +ui-button
            +arrow-top
            p Back to top
        .footer__bottom-right
          .col
            +ui-button('By e-mail','_footer')
            a.footer__link(href="#") Inst
            a.footer__link(href="#") Link
            a.footer__link(href="#") Tg
          .col
            p.footer__year ©2023
