.footer {
  margin-top: 100px;
  padding-bottom: 80px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 100%;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__subtitle {
    margin-right: 10%;
    text-align: end;
    font-family: 'Futura';
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  &__text {
    max-width: 310px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 58px;
    height: 58px;

    border: 1px solid #A97FFD;
    border-radius: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #A97FFD;
    cursor: pointer;
  }

  &__year {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .col {
    display: flex;
    gap: 16px;
  }
}