footer.footer.mt-section
  .footer__inner
    .footer__col
      img.footer__logo(src='./../../images/seed/logo-1-new.png' alt='logo')
      p.footer__text © 2023 "Big Grain"
    .footer__col
    .footer__col.footer__links
      p.footer__link(data-aos='fade-left')
        span Адрес:
        |   394030, г. Воронеж, Бакунский переулок, д. 11, офис 411
      a(href="tel:89202277757").footer__link(data-aos='fade-left')
        span Телефон:
        |   8-920-227-77-57
      a(href="mailto:biggrain.buh@mail.ru").footer__link(data-aos='fade-left')
        span Электронная почта
        |   Biggrain.buh@mail.ru
      //- p.footer__link(data-aos='fade-left')
      //-   span Время работы:
      //-   |    Lorem ipsum dolor sit amet consectetur.
  .footer-bottom
    .footer-bottom__inner
      p.footer-bottom__text  Оставьте заявку и наш менеджер перезвонит вам!
      .button-footer
        +btn('Оставить заявку','btn_yellow')