

footer.footer(class= footerMt?'mt-section':'')
  .footer__inner
    .footer__col.footer__col_left
      .footer__logo
        //FIXME: вставить свг
      
        img(src="/logo-y.svg", alt="")
      .footer__col
        p.footer__text © 2023 "Big Grain" Все права защищены
        a.footer__politic Политика конфеденциальности
        p.footer__copirait
          | Сайт разарботан:&nbsp;
          a(href="https://t.me/Knyaz_36" target="_blank")  Князев C
    .footer__col.footer__links
      p.footer__link(data-aos='fade-left')
        span Адрес:
        |   394030, г. Воронеж, Бакунский переулок, д. 11, офис 411
      a(href="tel:89202277757").footer__link(data-aos='fade-left')
        span Телефон:
        |   8-920-227-77-57
      a(href="mailto:secotov@yandex.ru").footer__link(data-aos='fade-left')
        span Электронная почта:
        |   secotov@yandex.ru
  .footer-bottom
    .footer-bottom__inner
      p.footer-bottom__text Оставьте заявку и наш менеджер перезвонит вам
      .button-footer
        +btn('Оставить заявку','btn_yellow modal-on', )