footer.footer
  .footer__inner
    .footer__col
      img.footer__logo(src='./../../images/seed/logo-1-new.png' alt='logo')
      p.footer__text © 2023 "Big Grain"
    .footer__col
    .footer__col.footer__links
      p.footer__link(data-aos='fade-left')
        span Адрес:
        |    Lorem ipsum dolor sit amet consectetur.
      p.footer__link(data-aos='fade-left')
        span Телефон:
        |    Lorem ipsum dolor sit amet consectetur.
      p.footer__link(data-aos='fade-left')
        span Время работы:
        |    Lorem ipsum dolor sit amet consectetur.
  .footer-bottom
    .container
      .footer-bottom__inner
        p.footer-bottom__text  Оставьте заявку и наш менеджер перезвонит вам!
        .button-footer
          a.gain-button(data-aos='fade-left' href='contact.html') Оставить заявку