.card {

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 664px;
    height: 500px;

    overflow: hidden;
    background: linear-gradient(180deg, #4185D1 0%, #E6A2BC 100%);
    border-radius: 24px;
  }

  &__text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: #FFFFFF;

  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }

  &__bottom {
    margin-top: 48px;
    display: flex;
    gap: 16px;
  }

  &__year {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #6849AA;

  }

  &__company {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &-small {
    &__img {
      width: 433px;
      height: 260px;

      overflow: hidden;
      background: linear-gradient(180deg, #4185D1 0%, #E6A2BC 100%);
      border-radius: 24px;
    }
  }

}

.card-big {
  &__img {
    width: 895px;
    height: 500px;

    background: linear-gradient(180deg, #4185D1 0%, #E6A2BC 100%);
    border-radius: 24px;
    overflow: hidden;
  }
}