mixin about-section(mods)
  .about-section(class=allMods)&attributes(attributes)
    about
      .container
        .about__inner 
          section.about-name
            .about-name__inner 
              h1.about__title Компания "Big Grain"
              .about-name__text.about__text Наша компания является важным игроком на рынке экспорта сельскохозяйственной продукции. За прошедшие 7 лет мы смогли зарекомендовать себя как надежного партнера не только в России, но и в странах СНГ, а также ближнего и дальнего зарубежья. 
            
          
          section.about-history.mt-section(data-aos='fade-up')
            .about-history__inner 
              h2.about__title История
              .about-history__block 
                .about__text Основанная в 2005 году компания стремительно расширила свою деятельность и сегодня является лидером в своей области. 
                .about__text В 2022 был произведен ребрендинг с целью улучшения восприятия у целевой аудитории и адаптации к изменениям в непростых рыночных условиях. Наша компания получила название  «Big Grain». Данный шаг повлек за собой изменение бизнес-стратегии, и, следовательно, укрепление своей позиции на  мировом рынке.
              .about-name__box(data-aos='fade-up')  
                +countup(7,'лет','успешной деятельности компании')
                +countup(7,'лет','успешной деятельности компании')
                +countup(7,'лет','успешной деятельности компании')

          section.about-directions.mt-section(data-aos='fade-up')
            .about-directions__inner 
              h2.about__title Направления нашей деятельности 
              .about-directions__text.about__text Экспорт  широкого спектра сельскохозяйственной продукции:
              ul.about__list.about-directions__list
               each item in ['- Масличные и мелкосемянные культуры','- Бобовые и зернобобовые культуры','- Крупы','- Зерновые культуры','- Подсолнечное масло']
                li.about__item(data-aos='fade-left')=item
 

          
          section.about-advantages.mt-section(data-aos='fade-up') 
            .about-advantages__inner 
              h2.about__title Основные преимущества работы 
              .about-advantages__box 
                .about-advantages__item
                  h3.about-advantages__subtitle Качество
                  .about__text Тщательно отбираем своих поставщиков и сотрудничаем только с надежными аграрными предприятиями
                .about-advantages__item
                  h3.about-advantages__subtitle Сервис 
                  .about__text Коммуникация, оперативность и профессионализм взаимодействия с клиентами являются факторами, которые делают нашу компанию успешной
                .about-advantages__item
                  h3.about-advantages__subtitle Надежность
                  .about__text Наши клиенты могут рассчитывать на выгодные цены и четкое соблюдение договоренностей и сроков
          
          section.about-missions.mt-section(data-aos='fade-up') 
            .about-missions__inner 
              h2.about__title Миссия и ценности
              ul.about__list.about-missions__list
                each item in ['- не останавливаемся на достигнутом и постоянно стремимся к инновациям и улучшению своей деятельности','- инвестируем в исследования и разработки, чтобы улучшить производственные процессы и увеличить устойчивость агрокультур','- применяем современные методы органического земледелия и экологически чистых технологий для минимизации негативного воздействия на окружающую среду']
                  li.about__item(data-aos='fade-left')=item
          section.about-modal.mt-section(data-aos='fade-up')
            .about-modal__inner 
              .about-modal__left 
                img(src="/images/elipse.png", alt="e")
              .about-modal__right 
                p.about__title Остались вопросы?
                p.about__text Если у вас есть конкретные вопросы относительно деятельности компании "Big Grain" или вы хотите узнать больше о каких-либо аспектах вашей деятельности, пожалуйста, напишите нам.
                +btn('НАПИСАТЬ НАМ','btn_yellow about-modal__btn modal-on')
