mixin catalog(mods)
  .catalog 
    .container
      .catalog__inner 
        section.catalog__section(data-aos='fade-up' id='seed1')
          h2.catalog__title Бобовые и зернобобовые культуры
          .catalog__box
            .catalog__item
              .catalog-card
                .catalog-card__img 
                  +picture(`legumes-1.jpg`)
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная шлифованная рафинированная
              .catalog-card
                .catalog-card__img
                  +picture(`legumes-2.jpg`)
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная шлифованная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC08957.jpg`) 
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная колотая шлифованная рафинированная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC08968.jpg`)  
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная колотая шлифованная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC08971.jpg`)  
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная измельченная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09012.jpg`)   
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая шлифованная рафинированная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09031.jpg`)   
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая шлифованная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09050.jpg`)   
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая колотая шлифованная рафинированная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09052.jpg`) 
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая колотая шлифованная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09070.jpg`) 
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая измельченная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09089.jpg`) 
                .catalog-card__body
                  h4.catalog-card__title Смесь чечевицы красной и желтой шлифованная рафинированная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09127.jpg`) 
                .catalog-card__body
                  h4.catalog-card__title Смесь чечевицы красной и желтой колотая
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09126.jpg`)  
                .catalog-card__body
                  h4.catalog-card__title Смесь чечевицы красной и желтой измельченная
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09140.jpg`)  
                .catalog-card__body
                  h4.catalog-card__title Чечевица зеленая
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09155-2.jpg`)   
                .catalog-card__body
                  h4.catalog-card__title Чечевица коричневая
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09164.jpg`)   
                .catalog-card__body
                  h4.catalog-card__title Нут
          .catalog__btn
            +btn('Узнать о наличии товара','btn_yellow modal-on')
        section.catalog__section(data-aos='fade-up' id='legumes')
          h2.catalog__title Масличные и мелкосемянные культуры
          .catalog__box
              .catalog__item
                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09182.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Горчица белая
                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09190-2.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Горчица желтая

                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09207.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Горчица черная
                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09214-2.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Лен белый (золотой)

                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09226.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Лен коричневый
                .catalog-card
                  .catalog-card__img 
                    +picture(`DSC09237.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Расторопша
                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09258.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Кориандр
                .catalog-card
                  .catalog-card__img 
                    +picture(`istockphoto-477345277-1024x1024.jpg`)   
                  .catalog-card__body
                    h4.catalog-card__title Подсолнечник
                .catalog-card
                  .catalog-card__img
                    +picture(`DSC09247.JPG`)   
                  .catalog-card__body
                    h4.catalog-card__title Сафлор
                .catalog-card
                  .catalog-card__img 
                    //TODO:
                  .catalog-card__body
                    h4.catalog-card__title Редька масличная
          .catalog__btn
            +btn('Узнать о наличии товара','btn_yellow modal-on')
        section.catalog__section(data-aos='fade-up' id='cereals')
          h2.catalog__title Мука из чечевицы
          .catalog__box
              .catalog__item
                .catalog-card
                  .catalog-card__img 
                    +picture('IMG_6528.jpg')
                  .catalog-card__body
                    h4.catalog-card__title Мука из чечевицы продовольственная
                .catalog-card
                  .catalog-card__img 
                    +picture('photo1692967066.jpg')
                  .catalog-card__body
                    h4.catalog-card__title Мука из чечевицы <br> кормовая
          .catalog__btn
            +btn('Узнать о наличии товара','btn_yellow modal-on')
        section.catalog__section(data-aos='fade-up' id='fas')
          h2.catalog__title Фасованная продукция
          .catalog__box
            .catalog__item
              .catalog-card
                .catalog-card__img 
                  +picture('DSC09038.jpg')
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая фасованная измельченная
              .catalog-card
                .catalog-card__img 
                  +picture('DSC09081.jpg')
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая колотая фасованная измельченная
              .catalog-card
                .catalog-card__img 
                  +picture('DSC09058.jpg')
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая шлифованная рафинированная
              .catalog-card
                .catalog-card__img 
                  +picture('DSC09061.jpg')
                .catalog-card__body
                  h4.catalog-card__title Чечевица желтая шлифованная 
              .catalog-card
                .catalog-card__img 
                  +picture('ksr.jpg')
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная шлифованная рафинированная
              .catalog-card
                .catalog-card__img 
                  +picture('kks.jpg')
                .catalog-card__body
                  h4.catalog-card__title Чечевица красная колотая шлифованная
              .catalog-card
                .catalog-card__img 
                  +picture('DSC09109.jpg')
                .catalog-card__body
                  h4.catalog-card__title Смесь чечевицы красной и желтой шлифованная рафинированная
          .catalog__btn
            +btn('Узнать о наличии товара','btn_yellow modal-on')
        section.catalog__section(data-aos='fade-up' id='oil')
          h2.catalog__title Масло
          .catalog__box
            .catalog__item
              each name in ['Масло подсолнечное']
                .catalog-card
                  .catalog-card__img 
                    +picture('close-up-water-rings-on-a-yellow-pool-surface.jpg') 
                  .catalog-card__body
                    h4.catalog-card__title=name
          .catalog__btn
            +btn('Узнать о наличии товара','btn_yellow modal-on')
        section.catalog__section(data-aos='fade-up' id='seed')
          h2.catalog__title Прочие
          .catalog__box
            .catalog__item
              each name in ['Фацелия','Сорго',]
                .catalog-card
                  .catalog-card__img
                    //TODO: 
                  .catalog-card__body
                    h4.catalog-card__title=name
              .catalog-card
                .catalog-card__img
                  +picture(`DSC09272.JPG`)   
                .catalog-card__body
                  h4.catalog-card__title Гречиха
              .catalog-card
                .catalog-card__img
                  +picture(`istockphoto-1201606445-1024x1024.jpg`)   
                .catalog-card__body
                  h4.catalog-card__title Шпрот подсолнечный
          .catalog__btn
            +btn('Узнать о наличии товара','btn_yellow modal-on')
