mixin section-service(mods)
  section.section-service
    .container
      .row
        .heading-service.center
          h1.title-service.wow.fadeInUp Agriculture Services 
          img.img-service(src='images/home/03.png' alt='')
        .col-md-3.col-sm-6
          .box-service.wow.fadeInUp
            img(src='images/home/service-1.png' alt='')
            .inner-box-service
              p.wrap-title.bottom20  Farm House 
              a(href='service.html')
                h3  Favorite Farm House  
              p.subtext-service
                | There are many variations of passages.
              a.icon-right(href='service.html')
                i.fa.fa-angle-right(aria-hidden='true')
        .col-md-3.col-sm-6
          .box-service.active.wow.fadeInUp
            img(src='images/home/service-2.png' alt='')
            .inner-box-service
              p.wrap-title.bottom20  Agriculture 
              a(href='service.html')
                h3  Harvest Incentive.  
              p.subtext-service
                | There are many variations of passages.
              a.icon-right(href='service.html')
                i.fa.fa-angle-right(aria-hidden='true')
        .col-md-3.col-sm-6
          .box-service.wow.fadeInUp
            img(src='images/home/service-3.png' alt='')
            .inner-box-service
              p.wrap-title.bottom20  Vegetables 
              a(href='service.html')
                h3  Vegetable firms.  
              p.subtext-service
                | There are many variations of passages.
              a.icon-right(href='service.html')
                i.fa.fa-angle-right(aria-hidden='true')
        .col-md-3.col-sm-6
          .box-service.wow.fadeInUp
            img(src='images/home/service-4.png' alt='')
            .inner-box-service
              p.wrap-title.bottom20  Dairy Tea 
              a(href='service.html')
                h3  Tea Farming in Malaw.  
              p.subtext-service
                | There are many variations of passages.
              a.icon-right(href='service.html')
                i.fa.fa-angle-right(aria-hidden='true')
      .button-service.center.wow.fadeInUp
        a.gain-button(href='service.html') All Services
