.ui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 8px;

  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #5c5772;
  background: #221f30;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: $transition;

  &_preview {
    gap: 4px;
    padding: 13px 34px;
    width: 174px;
    height: 42px;

    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #a97ffd;
    background: #2c254d;
    border-radius: 40px;
  }

  &_footer {
    padding: 20px 80.5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #a97ffd;
    border: 1px solid #a97ffd;
    border-radius: 60px;
    background: transparent;
  }

  &_portfolio {
    width: 100%;

    font-weight: 300;
    background: transparent;
    border: 1px solid #2C254D;
    color: #A97FFD;
  }
}