@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/RobotoMono-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/RobotoMono-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/RobotoMono-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Futura-Bold.woff') format('woff');
}
