.mt-section {
  margin-top: 100px;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.fz-small {
  @media (max-width: 768px) {
    font-size: 48px !important;
  }
}

$border: 5px;

//FIXME: удалить
.mt-10 {
  margin-top: 10px;
}