mixin section-team(mods)
  section.section-team
    .container
      .heading-team.center
        h1.title-team-home.wow.fadeInUp Our Special Member
        img(src='images/home/16.png' alt='')
      .themesflat-slider(data-margin='30' data-nav='false' data-dots='false' data-item='4' data-item2='2' data-item3='1')
        .team1-carousel.owl-carousel.owl-theme
          .team-box.wow.fadeInUp
            .hover-team
              img.img-team-box(src='images/shortcode/team-12.jpg' alt='')
            .list-team-box
              a(href='team.html')
                h3.title-team-box  Immamul Papan 
              span.icon-team
                a(href='#')
                  i.fa.fa-dribbble(aria-hidden='true')
                a(href='#')
                  i.fa.fa-instagram(aria-hidden='true')
                a(href='#')
                  i.fa.fa-behance(aria-hidden='true')
          .team-box.wow.fadeInUp
            .hover-team
              img.img-team-box(src='images/home/team-2.jpg' alt='')
            .list-team-box
              a(href='team.html')
                h3.title-team-box  Immamul Papan 
              span.icon-team
                a(href='#')
                  i.fa.fa-dribbble(aria-hidden='true')
                a(href='#')
                  i.fa.fa-instagram(aria-hidden='true')
                a(href='#')
                  i.fa.fa-behance(aria-hidden='true')
          .team-box.wow.fadeInUp
            .hover-team
              img.img-team-box(src='images/home/team-3.jpg' alt='')
            .list-team-box
              a(href='team.html')
                h3.title-team-box  Immamul Papan 
              span.icon-team
                a(href='#')
                  i.fa.fa-dribbble(aria-hidden='true')
                a(href='#')
                  i.fa.fa-instagram(aria-hidden='true')
                a(href='#')
                  i.fa.fa-behance(aria-hidden='true')
          .team-box.wow.fadeInUp
            .hover-team
              img.img-team-box(src='images/home/team-4.jpg' alt='')
            .list-team-box
              a(href='team.html')
                h3.title-team-box  Immamul Papan 
              span.icon-team
                a(href='#')
                  i.fa.fa-dribbble(aria-hidden='true')
                a(href='#')
                  i.fa.fa-instagram(aria-hidden='true')
                a(href='#')
                  i.fa.fa-behance(aria-hidden='true')
