mixin service(mods)
  section.service.mt-section(data-aos='fade-up')
        .container
          .service__inner
            h2.service__title Ознакомьтесь с предложением нашей компании для дальнейшего сотрудничества
            .service__box(data-aos='fade-up')
              a.service-card( href='catalog.html#seed1')
                .service-card__img 
                  img.service-img(src=`../../images/DSC08971.jpg` alt='')
                .service-card__body 
                  h4.service-card__title Бобовые и зернобобовые культуры
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(href='catalog.html#legumes')
                .service-card__img 
                  img.service-img(src=`../../images/DSC09226.jpg` alt='')
                .service-card__body 
                  h4.service-card__title Масличные культуры
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(href='catalog.html#cereals')
                .service-card__img 
                  img.service-img(src='../../images/DSC09288.jpg' alt='')
                .service-card__body 
                  h4.service-card__title Мука чечевичная (продовольственная и кормовая) 
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(href='catalog.html#oil')
                .service-card__img 
                  //- img.service-img(src='../../images/close-up-water-rings-on-a-yellow-pool-surface.jpg' alt='')
                .service-card__body 
                  h4.service-card__title Шпрота подсолнечного
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(href='catalog.html#oil')
                .service-card__img 
                  img.service-img(src='../../images/close-up-water-rings-on-a-yellow-pool-surface.jpg' alt='')
                .service-card__body 
                  h4.service-card__title Подсолнечное масло
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(href='catalog.html#fas')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Фасованная продукция 
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(href='catalog.html#seed')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Прочие 
                  .service-card__button
                    +arrow-right.service-card__arrow
