.service {
  position: relative;
  background-color: #e6d64f21;
  padding: 110px 0;

  cursor: pointer;
  @media #{media('<',m)} {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    font-family: $cursive;
  }

  &__box {
    margin-top: 60px;
  }

  &__subtitle {
    h4 {
      font-size: 28px;
      text-align: center;
      font-weight: 500;
      font-family: $cursive;
      transition: $transition;

      @media #{media('>',m)} {
        &:hover {
          color: $yellow;
        }
      }
    }
  }

  &-img {
    height: 250px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media #{media('<',t)} {
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{media('<',m)} {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    border-radius: $border;
    overflow: hidden;

    @media #{media('<',m)} {
      width: auto;
    }

    &__img {
      height: 250px;

      overflow: hidden;

      img {
        object-fit: cover;
        height: auto;
      }
    }

    &__body {
      height: 190px;
      padding: 10px;
      display: flex;
      position: relative;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 30px;
      background-color: white;
      transition: $transition;
    }

    &__title {
      font-size: 28px;
      font-weight: 500;
      font-family: 'Bad Script', cursive;
      transition: all 0.4s ease;
      line-height: 130%;
      color: #435a52;
      transition: $transition;

      @media #{media('<',m)} {
        line-height: 100%;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      align-self: flex-end;
      width: 50px;
      height: 50px;
      border-radius: $border;
      cursor: pointer;
      background-color: white;
      border: 2px solid #e6d54f;
      color: #a2a8a3;
      transition: $transition;
      svg {
        g {
          fill: #c1c1c1;
        }
        width: 16px;
        height: auto;
      }
    }

    @media #{media('>',m)} {
      &:hover {
        .service-card__body {
          background-color: $green-light;
        }

        .service-card__title {
          color: #e6d54f;
        }

        .service-card__button {
          background: #e6d54f;
          svg g {
            fill: white;
          }
        }
      }
    }
  }
}

.box-service {
  &:hover {
    .service__subtitle {
      & h4 {
        color: $yellow;
      }
    }
  }
}
