mixin service(mods)
  section.service.mt-section(data-a='')
        .container
          .service__inner
            h2.service__title
              | Приглашаем вас ознакомиться с предложением нашей компании для дальнейшего сотрудничества!
            .service__box
              .service-card
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.icon-right.service-card__button(href='service.html')
                      i.fa.fa-angle-right(aria-hidden='true')
              .service-card
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.icon-right.service-card__button(href='service.html')
                      i.fa.fa-angle-right(aria-hidden='true')
              .service-card
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.icon-right.service-card__button(href='service.html')
                      i.fa.fa-angle-right(aria-hidden='true')
              .service-card
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.icon-right.service-card__button(href='service.html')
                      i.fa.fa-angle-right(aria-hidden='true')
