mixin service(mods)
  section.service.mt-section(data-aos='fade-up')
        .container
          .service__inner
            h2.service__title
              | Приглашаем вас ознакомиться с предложением нашей компании для дальнейшего сотрудничества!
            .service__box
              a.service-card(data-aos='fade-up' href='catalog.html#seed1')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(data-aos='fade-up' href='catalog.html#legumes')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Бобовые и зернобобовые культуры
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(data-aos='fade-up' href='catalog.html#cereals')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Крупы
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(data-aos='fade-up' href='catalog.html#seed')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Зерновые культуры
                  .service-card__button
                    +arrow-right.service-card__arrow
              a.service-card(data-aos='fade-up' href='catalog.html#oil')
                .service-card__img 
                  img.service-img(src='../../images/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Подсолнечное масло
                  .service-card__button
                    +arrow-right.service-card__arrow
