.service {
  position: relative;
  &__box {
    display: flex;
    // justify-content: space-between;
    gap: 20px;
  }
  &-card {
    width: 300px;
    &__img {
      height: 250px;

      overflow: hidden;
      img {
        object-fit: cover;
        height: auto;
      }
    }

    &__body {
      display: flex;
      position: relative;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 40px;
      background-color: white;
    }

    &__title {
      text-align: center;
      font-size: 28px;
      text-align: center;
      font-weight: 500;
      font-family: 'Bad Script', cursive;
      transition: all 0.4s ease;
      color: #435a52;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -25px;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      background-color: white;
      border: 2px solid #e6d54f;
      color: #a2a8a3;
      transition: $transition;
    }
  }
}
