mixin service(mods)
  section.service.mt-section(data-aos='fade-up')
        .container
          .service__inner
            h2.service__title
              | Приглашаем вас ознакомиться с предложением нашей компании для дальнейшего сотрудничества!
            .service__box
              .service-card(data-aos='fade-up')
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.service-card__button(href='service.html') 
                    +arrow-right.service-card__arrow
              .service-card(data-aos='fade-up')
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.service-card__button(href='service.html') 
                    +arrow-right.service-card__arrow
              .service-card(data-aos='fade-up')
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.service-card__button(href='service.html') 
                    +arrow-right.service-card__arrow
              .service-card(data-aos='fade-up')
                .service-card__img 
                  img.service-img(src='../../images/seed/card-1.JPG' alt='')
                .service-card__body 
                  h4.service-card__title Масличные и мелкосемянные культуры
                  a.service-card__button(href='service.html') 
                    +arrow-right.service-card__arrow
