.service {
  position: relative;
  &__box {
    display: flex;
    gap: 20px;
  }

  &__title {
    line-height: 130%;
  }
  &-card {
    width: 300px;

    &__img {
      height: 250px;

      overflow: hidden;
      img {
        object-fit: cover;
        height: auto;
      }
    }

    &__body {
      display: flex;
      position: relative;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 40px;
      background-color: white;
      transition: $transition;
    }

    &__title {
      text-align: center;
      font-size: 28px;
      text-align: center;
      font-weight: 500;
      font-family: 'Bad Script', cursive;
      transition: all 0.4s ease;
      color: #435a52;
      transition: $transition;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -25px;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      background-color: white;
      border: 2px solid #e6d54f;
      color: #a2a8a3;
      transition: $transition;
    }

    &:hover {
      .service-card__body {
        background-color: $green-light;
      }
      .service-card__title {
        color: #e6d54f;
      }
      .service-card__button {
        background: #e6d54f;
        i {
          transition: $transition;
          color: white;
        }
      }
    }
  }
}
