mixin slider-top(mods)
  section.header__bottom
        .rev_slider_wrapper.header__bottom
          #rev-slider1.rev_slider
            ul
              li(data-transition='random')
                //- img(src='../../images/seed/slide-2.jpg' alt='' data-bgposition='center center' data-no-retina='')
                img(src='../../images/slider-top/st-1.jpg' alt='' data-bgposition='center center' data-no-retina='')
             
                .bg-slider-1
                .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                  span.slide-tittle
                    | Выгодные договорные цены и качественная продукция.
              li(data-transition='random')
                img(src='../../images/slider-top/st-2.jpg' alt='' data-bgposition='center center' data-no-retina='')
                .bg-slider-1
                .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                  span.slide-tittle
                    | Четкое исполнение договоренностей.
              li(data-transition='random')
                img(src='../../images/slider-top/st-3.jpg' alt='' data-bgposition='center center' data-no-retina='')
                .bg-slider-1
                .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                  span.slide-tittle.slider__slide-title
                    | Контроль на всех этапах.
              li(data-transition='random')
                img(src='../../images/slider-top/st-4.jpg' alt='' data-bgposition='center center' data-no-retina='')
                .bg-slider-1
                .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
                  span.slide-tittle
                    | Порядок с документами.
