mixin swiper-top(mods)
  .slider.preview
    .swiper.preview-slider(data-swiper='top')
      .swiper-wrapper
        .swiper-slide.preview__slide 
          .preview__block
            h2.preview__title.slider-active.fz-small  Экспорт высококачественной сельзозпродукции
          img.preview__img(src='../../images/istockphoto-614309548-1024x1024.jpg' alt='' )
        .swiper-slide.preview__slide 
          .preview__block
            h2.preview__title  Выгодные договорные цены и качественная продукция
          img.preview__img(src='../../images/st-1.jpg' alt='' )
        .swiper-slide.preview__slide 
          .preview__block
            h2.preview__title Четкое исполнение договоренностей
          img.preview__img(src='../../images/st-2.jpg' alt='' )
