mixin language(mods)
  .language
    p.language__text RU
    .language__options 
      a.language__option(href="/index-en")  EN
mixin language-en(mods)
  .language
    p.language__text EN
    .language__options 
      a.language__option(href="/index") RU