mixin section-instagram(mods)
  section.section-instagram
    .container-fluid
      .row
        .themesflat-slider(data-margin='2' data-nav='true' data-dots='false' data-item='8' data-item2='5' data-item3='3')
          .instagram1-carousel.owl-carousel.owl-theme
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-1.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-2.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-3.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-4.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-1.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-5.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-6.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
            .tf-instagram
              .box-instagram
                img(src='images/home/instagram-7.jpg' alt='')
                .overlay-instagram
                  a.text-instagram(href='#') @Instagram
