mixin our-news(mods)
  section.section-our-news
    .container.flex-col
      .row
        .heading-our-news.center
          h1.wow.fadeInUp Качество продукции является важным аспектом для сельхозпроизводителей и конечных потребителей. Мы стремимся предложить только высококлассные товары своим клиентам. Это помогает создать доверие и установить долгосрочные партнерские отношения.
          img.img-news-home(src='images/home/03.png' alt='')
        .col-md-6.col-sm-6
          .our-news-box.style-2.wow.fadeInUp
            .img-news-box
              img(src='images/home/news-1.jpg' alt='')
              .overlay-news
            .list-news
              p.wrap-title-news Farm House
              a(href='blog-detail.html')
                h3
                  | Сервис - еще одна важная составляющая бизнеса.
              p.subtext-blog Стремление соблюдать договоренности и сроки, а также предоставлять выгодные цены, свидетельствует о превосходном сервисе. Коммуникация, оперативность и профессионализм взаимодействия с клиентами являются факторами, которые делают нашу компанию успешной.
              span.list-icon-news
                a(href='#')
                  i.fa.fa-heart-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-user-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-calendar(aria-hidden='true')
              a.icon-right-box(href='blog-detail.html')
                i.fa.fa-angle-right(aria-hidden='true')
        .col-md-6.col-sm-6
          .our-news-box.style-2.wow.fadeInUp
            .img-news-box
              img(src='images/home/news-2.jpg' alt='')
              .overlay-news
            .list-news
              p.wrap-title-news Farm House
              a(href='blog-detail.html')
                h3 Надежность — это неотъемлемая черта «Big Grain».
              p.subtext-blog Зарекомендовав себя, мы укрепили доверие клиентов и сельхозпроизводителей. Способность выполнять свои обязательства и сохранять долгосрочные отношения с партнерами делает нашу компанию приоритетной на рынке сельскохозяйственных продуктов.
              span.list-icon-news
                a(href='#')
                  i.fa.fa-heart-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-user-o(aria-hidden='true')
                a(href='#')
                  i.fa.fa-calendar(aria-hidden='true')
              a.icon-right-box(href='blog-detail.html')
                i.fa.fa-angle-right(aria-hidden='true')
      .button-blog-tf.center.wow.fadeInUp
        a.gain-button.button-color.color2(href='blog.html') All Blog +