mixin response(mods)
  .response 
    .overlay 
    .response__inner
      button.btn-close(type='button my-modal__close' name="close")
        span.icon-cross
        span.visually-hidden
      p.response__title Ваша заявка успешно отправлена! Наш менеджер свяжется с вами в ближайшее время!
