mixin response(mods)
  .my-modal.response
    .overlay
    .my-modal__inner
      button.btn-close(type='button my-modal__close' name="close")
        span.icon-cross
        span.visually-hidden
      .my-modal__body
        h3.my-modal__title Сайт находится в тестовом режиме, приносим извинения за неудобства
        br
        br
        h3.my-modal__title Website is under development,so apologies for the lack of information
      .my-modal__response
        p.my-modal__response-text Ваша заявка успешно отправлена! Наш менеджер свяжется с вами в ближайшее время!
