block variables
include ../blocks/mixins

- const header = false
- const footerMT = false
doctype html
html(lang='en')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1  maximum-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      meta(name="description" content="The official website of the Big grain company, offering high-quality products.")

      meta(property='og:title' content='BigGrain')
      meta(property='og:description' content='A company that is the largest player in the agricultural export market.')
      meta(property='og:image' content='/opengraph.jpg')
      meta( property="og:image:width" content="1200")
      meta( property="og:image:height" content="630")

      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
      
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')

  body
    +preloader
    .wrapper(style="opacity: 0")
      +modal-en
      +button-up
      +header-en
      block content
      +footer-en
    block scripts
      script(type='module' src='../../js/index.js')
