mixin gallery-block(mods)
  .gallery-block(class=allMods)&attributes(attributes)
    .container 
      .gallery-block__box
        .gallery-block__images
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='/images/seed/slide-2.jpg')
            img(src="/images/seed/slide-2.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='/images/seed/slide-2.jpg')
            img(src="/images/seed/slide-2.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='/images/seed/slide-2.jpg')
            img(src="/images/seed/slide-2.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='/images/seed/slide-2.jpg')
            img(src="/images/seed/slide-2.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='/images/seed/slide-2.jpg')
            img(src="/images/seed/slide-2.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='/images/seed/slide-2.jpg')
            img(src="/images/seed/slide-2.jpg", alt="")

        +btn('Еще фото','btn_yellow', ).gallery-block__btn