mixin gallery-block(mods)
  .gallery-block(class=allMods)&attributes(attributes)
    .container 
      .gallery-block__box
        .gallery-block__images
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g11.jpg')
            img(src="../../images/g11.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g12.jpg')
            img(src="../../images/g12.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g13.jpg')
            img(src="../../images/g13.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g14.jpg')
            img(src="../../images/g14.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g15.jpg')
            img(src="../../images/g15.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g16.jpg')
            img(src="../../images/g16.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g17.jpg')
            img(src="../../images/g17.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g18.jpg')
            img(src="../../images/g18.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g19.jpg')
            img(src="../../images/g19.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g20.jpg')
            img(src="../../images/g20.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g1.jpg')
            img(src="../../images/g1.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g2.jpg')
            img(src="../../images/g2.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g3.jpg')
            img(src="../../images/g3.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g4.jpg')
            img(src="../../images/g4.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g5.jpg')
            img(src="../../images/g5.jpg", alt="")
          a.gallery-block__img.fancybox(data-fancybox="gallery" href='./images/g6.jpg')
            img(src="../../images/g6.jpg", alt="")
        +btn('Еще фото','btn_yellow', ).gallery-block__btn