header(id='header-home')
  .container-fluid
    .row
      .btn-menu
        span
      .header-wrap
        .col-md-2
          #logo.logo
            a(href='index.html' title='')
              img.img-logo1(src='images/logo.png' alt='logo')
        .col-md-6.col-sm-6.col-12
          .nav-wrap
            nav#mainnav.mainnav.home1
              ul.menu
                li.current-menu-item
                  a(href='index.html' title='')
                    | Главная 
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li.current-menu-item
                      a.sub-item(href='index.html' title='') Home 01
                li
                  a(href='about.html' title='')
                    | Каталог
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li
                      a(href='about.html' title='')  About Us 
                    li
                      a(href='testimonial.html' title='')  Testimonials 
                    li
                      a(href='gallery.html' title='') Our Gallery
                    li
                      a(href='team.html' title='') Our Team
                li
                  a(href='service.html' title='')
                    | О компании 
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li
                      a(href='service.html' title='') Our Services
                    li
                      a(href='service-detail.html' title='') Service Details
                //
                  <li>
                  <a href="gallery.html" title="">Gallery</a>
                  </li>
                li
                  a(href='portfolio.html' title='')
                    | Портфолио 
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li
                      a(href='portfolio.html' title='') подпункт
                    li
                      a(href='portfolio-detail.html' title='') Portfolio Details
                li
                  //- a(href='blog.html' title='')
                  //-   | Blog 
                  //-   i.fa.fa-angle-down(aria-hidden='true')
                  //- ul.sub-menu
                  //-   li
                  //-     a(href='blog.html' title='') Blog
                  //-   li
                  //-     a(href='blog-detail.html' title='') Blog Details
                li
                  a(href='contact.html' title='') Контакты
        .col-mt
          .header-right
            .time
              .list-time-1 CLOCK MON - SAT 8:00 - 6:30,
              .list-time-2  SUNDAY - CLOSED
        .col-md-
          .header-right
            .list-icon
              .list-social
                a(href='#')
                  i.fa.fa-behance(aria-hidden='true')
                a(href='#')
                  i.fa.fa-dribbble(aria-hidden='true')
                a(href='#')
                  i.fa.fa-instagram(aria-hidden='true')
      //- .rev_slider_wrapper
      //-   #rev-slider1.rev_slider
      //-     ul
      //-       // Slide 1
      //-       li(data-transition='random')
      //-         img(src='images/background/sld-home.jpg' alt='' data-bgposition='center center' data-no-retina='')
      //-         .bg-slider-1
      //-         .tp-caption.tp-resizeme.tp-img(data-x="['left','left','left','center']" data-hoffset="['350','90','150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','60','60']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           img.tf-img-slider(src='images/slider/slider-3.png' alt='Image' data-bgposition='center center' data-no-retina='')
      //-         // Layers
      //-         .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           span.tittle1  Sunrise on the Farm by Jean Hutchison.
      //-         .tp-caption.button-slider(data-x="['left','left','left','center']" data-hoffset="['510','465','300','70']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','120','200']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='700' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           a.gain-button(href='service.html') All View More +
      //-       // /End Slide 1
      //-       // Slide 2
      //-       li(data-transition='random')
      //-         img(src='images/background/sld-home.jpg' alt='' data-bgposition='center center' data-no-retina='')
      //-         .bg-slider-1
      //-         .tp-caption.tp-resizeme.tp-img(data-x="['left','left','left','center']" data-hoffset="['350','90','150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','60','60']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           img.tf-img-slider(src='images/slider/slider-3.png' alt='Image' data-bgposition='center center' data-no-retina='')
      //-         // Layers
      //-         .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           span.tittle1  Sunrise on the Farm by Jean Hutchison.
      //-         .tp-caption.button-slider(data-x="['left','left','left','center']" data-hoffset="['510','465','300','70']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','120','200']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='700' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           a.gain-button(href='service.html') All View More +
      //-       // /End Slide 2
      //-       // Slide 3
      //-       li(data-transition='random')
      //-         img(src='images/background/sld-home.jpg' alt='' data-bgposition='center center' data-no-retina='')
      //-         .bg-slider-1
      //-         .tp-caption.tp-resizeme.tp-img(data-x="['left','left','left','center']" data-hoffset="['350','90','150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','60','60']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           img.tf-img-slider(src='images/slider/slider-3.png' alt='Image' data-bgposition='center center' data-no-retina='')
      //-         // Layers
      //-         .tp-caption.tp-resizeme.title-55(data-x="['left','left','left','center']" data-hoffset="['40','90','30','14']" data-y="['middle','middle','middle','middle']" data-voffset="['0','40','0','40']" data-fontsize="['72','62','50','42']" data-lineheight="['86','70','64','48']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='400' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           span.tittle1  Sunrise on the Farm by Jean Hutchison.
      //-         .tp-caption.button-slider(data-x="['left','left','left','center']" data-hoffset="['510','465','300','70']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','120','200']" data-width='full' data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;' data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;' data-mask_in='x:0px;y:[100%];' data-mask_out='x:inherit;y:inherit;' data-start='700' data-splitin='none' data-splitout='none' data-responsive_offset='on')
      //-           a.gain-button(href='service.html') All View More +
      //-       // /End Slide 3
