header.header
  .header__inner
    .header__col
      a.header__logo(href='./index.html')
        .header__logo-inner
          +logo.header-logo
          //- img(src='/images/logo-white.svg' alt='logo')
      nav.navigation
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='./index.html') Главная 
          li.navigation__item
            a.navigation__link(href='./catalog.html') Каталог
          li.navigation__item
            a.navigation__link(href='./about.html') О нас
          li.navigation__item
            a.navigation__link(href='./gallery.html') Галерея
          li.navigation__item
            a.navigation__link(href='./contact.html')  Контакты
        .navigation__bottom 
          p.footer__link(data-a='fade-left')
            span Адрес:
            |   394030, г. Воронеж, Бакунский переулок, д. 11, офис 411
          a(href="tel:89202277757").footer__link(data-a='fade-left')
            span Телефон:
            |   8-920-227-77-57
          a(href="mailto:biggrain.buh@mail.ru").footer__link(data-a='fade-left')
            span Электронная почта:
            |   Biggrain.buh@mail.ru
    .header__col
      +language
      .header__connection.modal-on
        p.header__phone Связаться с нами
        img.header__phone-img(src='./../../images/phone.svg' alt='phone')
      .header__burger
