header(id='header-home').header
  .container-fluid
    .row.flex.flex-col
      .btn-menu
        span
      .header-wrap
        .col-md-2
          #logo.logo
            a(href='index.html' title='')
              img.img-logo1(src='images/logo.png' alt='logo')
        .col-md-6.col-sm-6.col-12
          .nav-wrap
            nav#mainnav.mainnav.home1
              ul.menu
                li.current-menu-item
                  a(href='index.html' title='')
                    | Главная страница
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li.current-menu-item
                      a.sub-item(href='index.html' title='') Home 01
                    li
                      a(href='home2.html' title='') Home 02
                li
                  a(href='about.html' title='')
                    | Каталог
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li
                      a(href='about.html' title='')  About Us 
                    li
                      a(href='testimonial.html' title='')  Testimonials 
                    li
                      a(href='gallery.html' title='') Our Gallery
                    li
                      a(href='team.html' title='') Our Team
                li
                  a(href='service.html' title='')
                    | Портфолио
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li
                      a(href='service.html' title='') Our Services
                    li
                      a(href='service-detail.html' title='') Service 
                  ul.sub-menu
                    li
                      a(href='portfolio.html' title='') Portfolio
                    li
                      a(href='portfolio-detail.html' title='') Portfolio Details
                li
                  a(href='blog.html' title='')
                    | Контакты 
                    i.fa.fa-angle-down(aria-hidden='true')
                  ul.sub-menu
                    li
                      a(href='blog.html' title='') Blog
                    li
                      a(href='blog-detail.html' title='') Blog Details
        .col-mt
          .header-right
            .time
              .list-time-1 Узнать закупочные цены
                
              .list-time-2 Оставьте заявку и мы вам перезвоним!
      +slider.header-slider
