header.header
  .header__inner
    .header__col
      a.header__logo(href='#')
        .header__logo-inner
          img(src='./../../images/logo.png' alt='logo')
      nav.navigation
        ul.navigation__list
          li.navigation__item
            a.navigation__link Каталог
          li.navigation__item
            a.navigation__link Портфолио
          li.navigation__item
            a.navigation__link Галерея
          li.navigation__item
            a.navigation__link Контакты
    .header__col
      .header__connection
        p.header__phone Связаться с нами
        img.header__phone-img(src='./../../images/seed/phone.svg' alt='phone')