extends ../../layout-en/layout

block variables
  -
    const pageName = 'index-en'
    const pageTitle = 'Home'

block content
  main
    +swiper-top-en
    +about-en
    +banner-en('Establishing long-term partnership relations is an important part of the activity, which indicates our stability and professionalism.').banner_banner2.mt-section
    +direction-en
    +service-en
    +banner-en('Quality, service and reliability are the main principles of our company')
    +qualities-en
    +swiper-bottom