mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')

mixin arrow-right
  svg(width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M3 4L7 8L3 12' stroke='#A97FFD' stroke-width='0.5')
    path(d='M8 4L12 8L8 12' stroke='#A97FFD' stroke-width='0.5')

mixin arrow-top
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 11L11 6M11 6L6 11M11 6L11 18C11 19.0609 11.4214 20.0783 12.1716 20.8284C12.9217 21.5786 13.9391 22 15 22L22 22' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')
