mixin footer-bottom(mods)
  .footer-bottom
    .container
      .row
        .col-md-6
          .title-footer-bottom
            i  Now! Get a Free Consultation for Your Business 
        .col-md-6
          .button-footer.wow.fadeInUp
            a.gain-button(href='contact.html') GET A FREE QUOTE
