mixin footer-bottom(mods)
  .footer-bottom
    .container
      .row
        .col-md-6
          .title-footer-bottom
            i Оставьте заявку и наш менеджер  свяжется с вами в ближайшее время!
        .col-md-6
          .button-footer.wow.fadeInUp
            a.gain-button(href='contact.html') Оставить заявку
