block variables
include ../blocks/mixins

- var header = false

doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1  maximum-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      link(href='https://vitejs.dev/logo.svg' rel='icon' type='image/x-icon')
      link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
      link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
      link(href='https://fonts.googleapis.com/css2?family=Bad+Script&display=swap' rel='stylesheet')

  body(style{
    opacity:0
  })
    .wrapper
      +preloader
      +modal
      +button-up

      block header
        include ../blocks/header/header
      block content
        
      block footer
        include ../blocks/footer/footer
    block scripts
      script(type='module' src='../../js/index.js')
      script(src='https://unpkg.com/aos@next/dist/aos.js')
      script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
