block variables
include ../blocks/mixins

doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      link(href='https://vitejs.dev/logo.svg' rel='icon' type='image/x-icon')
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
  body.counter-scroll
    .wrapper
      block header
        include ../blocks/header/header
      block content
      block footer
        include ../blocks/footer/footer
    block scripts
      script(type='module' src='../../js/index.js')
      //- script(src='../rev-slider/js/jquery.themepunch.tools.min.js')
      //- script(src='../rev-slider/js/jquery.themepunch.revolution.min.js')
      //- script(src='javascript/rev-slider.js')
      // Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading

